In [45]:
pip install pygeocoder

Collecting pygeocoder
  Downloading https://files.pythonhosted.org/packages/3b/79/2cf3a4dfe54705bbf07cbb25940078dfa595608aa4ecb9f0aaaae9faba08/pygeocoder-1.2.5.tar.gz
Requirement already satisfied: requests>=1.0 in /Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages (from pygeocoder) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests>=1.0->pygeocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests>=1.0->pygeocoder) (1.25.6)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests>=1.0->pygeocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests>=1.0->pygeocoder) (2019.9.11)
Building wheels for collected packages: pygeocoder
  Building wheel for pygeocoder (setup.py) ... done
  Created wheel for pygeocoder: filename=pygeocoder-1.2.5-cp36-none-any.whl size=8884 sha256=dbd9c5ace8b267f2d9606a30f8f89c756963f26b21f3d4444b9eff0886976de0
  Stored in directory: /Users/christopherjanssen/Library/Caches/pip/wheels/7c/4c/00/d05c66c4af5411c554c91b8079732c8a0359c2226fb8c01031
Successfully built pygeocoder
Installing collected packages: pygeocoder
Successfully installed pygeocoder-1.2.5
Note: you may need to restart the kernel to use updated packages.

In [63]:
from pygeocoder import Geocoder
import pandas as pd
import numpy as np
import pandas as pd
import calendar
import datetime

In [13]:
df_14 = pd.read_csv("2014_ad_viz_plotval_data.csv")
df_15 = pd.read_csv("2015_ad_viz_plotval_data.csv")
df_16 = pd.read_csv("2016_ad_viz_plotval_data.csv")
df_17 = pd.read_csv("2017_ad_viz_plotval_data.csv")
df_18 = pd.read_csv("2018_ad_viz_plotval_data.csv")

In [14]:
frames = [df_14, df_15, df_16, df_17, df_18]

In [16]:
allp = pd.concat(frames)

In [12]:
all.

(61030, 20)

In [13]:
all.to_csv("combined.csv")

In [15]:
all["Site Name"].value_counts()

QUEENS COLLEGE 2                  3575
Jersey City Firehouse             2831
Elizabeth Lab                     2702
DIVISION STREET                   2415
PS 19                             2376
NEWBURGH                          2354
RICHMOND POST OFFICE              2128
IS 52                             2100
MASPETH LIBRARY                   1811
EISENHOWER PARK                   1788
WHITE PLAINS                      1786
PS 314                            1782
MORRISANIA                        1768
Rockland County                   1767
PS 274                            1756
HOLTSVILLE                        1736
Rahway                            1736
Intermediate School 143           1723
CCNY                              1719
IS 74                             1680
FRESHKILLS WEST                   1646
Newark Firehouse                  1603
Rutgers University                1423
Toms River                        1347
Flemington                        1313
IS 45                             1060
Fort Lee Near Road                 930
PFIZER LAB SITE                    607
ALBANY COUNTY HEALTH DEPT          592
JHS 126                            584
Queens College Near Road           579
BABYLON                            556
Chester                            527
BUFFALO                            480
ROCHESTER 2                        474
EAST SYRACUSE                      473
Fort Lee Library                   468
Paterson                           465
PINNACLE STATE PARK                442
WHITEFACE BASE                     365
Rochester Near-Road                365
Buffalo Near-Road                  365
UTICA HEALTH DEPT                  365
Union City High School             350
BROOKSIDE TERRACE                  341
GRAND ISLE BOULDVARD               326
Busti Ave - Peace Bridge Study     267
PS 198 - Peace Bridge Study        265
New Brunswick                      227
Morristown Amb Squad               121
Elizabeth Mitchell Bldg            120
LOUDONVILLE                        116
Union City                         116
AMHERST                            111
DUNKIRK                            108
Name: Site Name, dtype: int64

In [17]:
all["Site ID"].value_counts()

360810124    3575
340171003    2831
340390004    2702
360610134    2415
360610128    2376
360710002    2354
360850055    2128
360050110    2100
360810120    1811
360590005    1788
361192004    1786
360470052    1782
360050080    1768
360870005    1767
360470118    1756
361030009    1736
340392003    1736
360610115    1723
360610135    1719
360050112    1680
360850111    1646
340130003    1603
340230011    1423
340292002    1347
340190001    1313
360610079    1060
340030010     930
360050133     607
360010005     592
360470122     584
360810125     579
361030002     556
340273001     527
360290005     480
360551007     474
360671015     473
340030003     468
340310005     465
361010003     442
360550015     365
360652001     365
360310003     365
360290023     365
340170008     350
360291014     341
360291013     326
360290024     267
360290025     265
340230006     227
340270004     121
340390006     120
360010012     116
340172002     116
360290002     111
360130006     108
Name: Site ID, dtype: int64

In [42]:
grouped = all.groupby(["Site Name"]).mean()

In [43]:
grouped.to_csv("value_counts.csv")

In [21]:
locs = pd.read_csv("lat-long.csv")

In [22]:
locs.dtypes

Site Name          object
SITE_LATITUDE     float64
SITE_LONGITUDE    float64
dtype: object

In [23]:
lats = locs["SITE_LATITUDE"].to_list()
longs = locs["SITE_LONGITUDE"].to_list()

In [24]:
out = Geocoder("AIzaSyB29hx5qgSCA_ab4wHGzpx8uuKufbmMks0").reverse_geocode(locs['SITE_LATITUDE'][0], locs['SITE_LONGITUDE'][0])

In [25]:
out.formatted_address

'777 Busti Ave, Buffalo, NY 14213, USA'

In [26]:
addresses = []
for lat, long in zip (lats, longs):
    adr = Geocoder("AIzaSyB29hx5qgSCA_ab4wHGzpx8uuKufbmMks0").reverse_geocode(lat, long)
    addresses.append(adr)

In [28]:
strs = []
for a in addresses:
    strs.append(a.formatted_address)

In [29]:
strs

['777 Busti Ave, Buffalo, NY 14213, USA',
 '160 Convent Ave, New York, NY 10031, USA',
 '245 Rte 24, Chester, NJ 07930, USA',
 '42 Division St, New York, NY 10002, USA',
 'Wright Park Dr, Dunkirk, NY 14048, USA',
 '5824 Widewaters Pkwy, East Syracuse, NY 13057, USA',
 '763 Merrick Ave, Westbury, NY 11590, USA',
 '277-301 Bay Ave, Elizabeth, NJ 07201, USA',
 '500 N Broad St, Elizabeth, NJ 07201, USA',
 'Travis - Chelsea, Staten Island, NY, USA',
 '360 Old York Rd, Flemington, NJ 08822, USA',
 '320 Main St, Fort Lee, NJ 07024, USA',
 '2086 Hudson St, Fort Lee, NJ 07024, USA',
 '584 Grand Island Blvd, Tonawanda, NY 14150, USA',
 '21 Concord Dr, Holtsville, NY 11742, USA',
 '2350-2360 2nd Ave, New York, NY 10035, USA',
 '662 Dawson St, The Bronx, NY 10455, USA',
 '730 Bryant Ave, The Bronx, NY 10474, USA',
 '140 Wadsworth Ave, New York, NY 10033, USA',
 '424 Leonard St, Brooklyn, NY 11222, USA',
 '355 Newark Ave, Jersey City, NJ 07302, USA',
 'Albany Shaker Rd & Shaker Park Dr, Albany, NY 12211, USA',
 '69-68 Grand Ave, Flushing, NY 11378, USA',
 '1225 Gerard Ave, The Bronx, NY 10452, USA',
 '16 Early St, Morristown, NJ 07960, USA',
 '55 Broadway, Newburgh, NY 12550, USA',
 'Thomson House, East Brunswick, NJ 08816, USA',
 '69 Hillside Ave, Newark, NJ 07108, USA',
 '1575 Bronx Park Rd, The Bronx, NY 10467, USA',
 '8305 Ackerson Rd, Addison, NY 14801, USA',
 '185 1st Avenue, New York, NY 10003, USA',
 '123 14th St, Buffalo, NY 14213, USA',
 '800 Bushwick Ave, Brooklyn, NY 11221, USA',
 '355 59th St, Brooklyn, NY 11220, USA',
 '176 Broadway, Paterson, NJ 07505, USA',
 '149-11 Melbourne Ave, Flushing, NY 11367, USA',
 '153-03 61st Rd, Flushing, NY 11367, USA',
 '364 Port Richmond Ave, Staten Island, NY 10302, USA',
 '1 Yarmouth Rd, Rochester, NY 14610, USA',
 '1300 Main St, Rahway, NJ 07065, USA',
 '1775 East Ave, Rochester, NY 14610, USA',
 '29 S Mountain Rd, Pomona, NY 10970, USA',
 '67 Ryders Ln, East Brunswick, NJ 08816, USA',
 '1517 Hooper Ave, Toms River, NJ 08753, USA',
 '406 Elizabeth St, Utica, NY 13501, USA',
 '714 31st St, Union City, NJ 07087, USA',
 'JFK Blvd at 26th St, Union City, NJ 07087, USA',
 '36 Cummings Ave, White Plains, NY 10604, USA',
 'Marble Mt Rd, Wilmington, NY 12997, USA']

In [3]:
keep = pd.read_excel("site-borough-address.xlsx")

In [31]:
pip install xlrd

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
keep_sn = keep["Site Name"].to_list()

In [6]:
keep_sn

['JHS 126',
 'PS 274',
 'PS 314',
 'MASPETH LIBRARY',
 'QUEENS COLLEGE 2',
 'Queens College Near Road',
 'CCNY',
 'DIVISION STREET',
 'IS 45',
 'Intermediate School 143',
 'PS 19',
 'FRESHKILLS WEST',
 'RICHMOND POST OFFICE',
 'IS 52',
 'IS 74',
 'MORRISANIA',
 'PFIZER LAB SITE']

In [17]:
narrowed = allp[allp["Site Name"].isin(keep_sn)]

In [20]:
narrowed["Site Name"].value_counts()

QUEENS COLLEGE 2            3575
DIVISION STREET             2415
PS 19                       2376
RICHMOND POST OFFICE        2128
IS 52                       2100
MASPETH LIBRARY             1811
PS 314                      1782
MORRISANIA                  1768
PS 274                      1756
Intermediate School 143     1723
CCNY                        1719
IS 74                       1680
FRESHKILLS WEST             1646
IS 45                       1060
PFIZER LAB SITE              607
JHS 126                      584
Queens College Near Road     579
Name: Site Name, dtype: int64

In [21]:
narrowed.to_csv("borough-pollution.csv")

In [23]:
df2 = pd.read_excel("site-borough-address.xlsx")

In [24]:
narrowed['Borough'] = narrowed["Site Name"].map(df2.set_index("Borough")['Site Name'].to_dict())

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
equiv = {7001:1, 8001:2, 9001:3}
df = pd.DataFrame( {"A": [7001, 8001, 9001]} )
df["B"] = df["A"].map(equiv)

In [27]:
equiv = {'}

      A  B
0  7001  1
1  8001  2
2  9001  3

In [29]:
narrowed["Borough"] = narrowed["Site Name"]

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
narrowed.loc[narrowed["Borough"] == 'JHS 126', 'Borough'] = 'Brooklyn'

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

QUEENS COLLEGE 2            3575
DIVISION STREET             2415
PS 19                       2376
RICHMOND POST OFFICE        2128
IS 52                       2100
MASPETH LIBRARY             1811
PS 314                      1782
MORRISANIA                  1768
PS 274                      1756
Intermediate School 143     1723
CCNY                        1719
IS 74                       1680
FRESHKILLS WEST             1646
IS 45                       1060
PFIZER LAB SITE              607
Brooklyn                     584
Queens College Near Road     579
Name: Borough, dtype: int64

In [51]:
#replace site ID with Borough it belongs to
#brooklyn
narrowed.loc[narrowed["Borough"] == 'PS 274', 'Borough'] = 'Brooklyn'
narrowed.loc[narrowed["Borough"] == 'PS 314', 'Borough'] = 'Brooklyn'

#Queens

narrowed.loc[narrowed["Borough"] == 'MASPETH LIBRARY', 'Borough'] = 'Queens'
narrowed.loc[narrowed["Borough"] == 'QUEENS COLLEGE 2', 'Borough'] = 'Queens'
narrowed.loc[narrowed["Borough"] == 'Queens College Near Road', 'Borough'] = 'Queens'

#Manhattan
narrowed.loc[narrowed["Borough"] == 'CCNY', 'Borough'] = 'Manhattan'
narrowed.loc[narrowed["Borough"] == 'DIVISION STREET', 'Borough'] = 'Manhattan'
narrowed.loc[narrowed["Borough"] == 'IS 45', 'Borough'] = 'Manhattan'
narrowed.loc[narrowed["Borough"] == 'Intermediate School 143', 'Borough'] = 'Manhattan'
narrowed.loc[narrowed["Borough"] == 'PS 19', 'Borough'] = 'Manhattan'

#Staten Island
narrowed.loc[narrowed["Borough"] == 'FRESHKILLS WEST', 'Borough'] = 'Staten Island'
narrowed.loc[narrowed["Borough"] == 'RICHMOND POST OFFICE', 'Borough'] = 'Staten Island'

#Bronx
narrowed.loc[narrowed["Borough"] == 'IS 52', 'Borough'] = 'Bronx'
narrowed.loc[narrowed["Borough"] == 'IS 74', 'Borough'] = 'Bronx'
narrowed.loc[narrowed["Borough"] == 'MORRISANIA', 'Borough'] = 'Bronx'
narrowed.loc[narrowed["Borough"] == 'PFIZER LAB SITE', 'Borough'] = 'Bronx'

In [52]:
narrowed["Borough"].value_counts()

Manhattan        9293
Bronx            6155
Queens           5965
Brooklyn         4122
Staten Island    3774
Name: Borough, dtype: int64

In [60]:
b_grouped = narrowed.groupby(["Borough", "Date"]).mean().reset_index()

In [61]:
b_grouped.dtypes

Borough                            object
Date                               object
Site ID                           float64
POC                               float64
Daily Mean PM2.5 Concentration    float64
DAILY_AQI_VALUE                   float64
DAILY_OBS_COUNT                   float64
PERCENT_COMPLETE                  float64
AQS_PARAMETER_CODE                float64
CBSA_CODE                         float64
STATE_CODE                        float64
COUNTY_CODE                       float64
SITE_LATITUDE                     float64
SITE_LONGITUDE                    float64
dtype: object

In [62]:
narrowed['Year'] = narrowed['Date'].map(lambda x: 100*x.year + x.month)

AttributeError: 'str' object has no attribute 'year'

In [66]:
narrowed['year']=narrowed['Date'].str.extract(r'([0-9][0-9][0-9][0-9])', expand=True)

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
narrowed['conv-date'] = pd.to_datetime(narrowed["Date"])

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
narrowed['year']  = narrowed['conv-date'].dt.year

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
narrowed['month']  = narrowed['conv-date'].dt.month

/Users/christopherjanssen/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
narrowed['month'].value_counts()

12    2518
3     2512
10    2494
7     2488
5     2483
1     2464
4     2441
8     2426
11    2422
9     2410
6     2386
2     2265
Name: month, dtype: int64

In [83]:
b_grouped = narrowed.groupby(["Borough", "year", 'month']).mean().reset_index()

In [82]:
narrowed.to_csv('sites_borough_datetime.csv')

In [85]:
b_grouped.head(15)

,Borough,year,month,Site ID,POC,Daily Mean PM2.5 Concentration,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,CBSA_CODE,STATE_CODE,COUNTY_CODE,SITE_LATITUDE,SITE_LONGITUDE
0,Bronx,2014,1,3.600501e+08,2.506173,14.387654,53.654321,1.0,100.0,88402.987654,35620.0,36.0,5.0,40.829650,-73.899445
1,Bronx,2014,2,3.600501e+08,2.736842,14.793421,53.671053,1.0,100.0,88396.473684,35620.0,36.0,5.0,40.827940,-73.897980
2,Bronx,2014,3,3.600501e+08,3.049020,8.722549,34.696078,1.0,100.0,88325.088235,35620.0,36.0,5.0,40.824892,-73.898843
3,Bronx,2014,4,3.600501e+08,3.084746,7.080508,29.110169,1.0,100.0,88332.084746,35620.0,36.0,5.0,40.825034,-73.900079
4,Bronx,2014,5,3.600501e+08,3.094828,7.360345,30.172414,1.0,100.0,88325.698276,35620.0,36.0,5.0,40.824494,-73.899280
5,Bronx,2014,6,3.600501e+08,3.084746,7.141525,29.076271,1.0,100.0,88332.084746,35620.0,36.0,5.0,40.825382,-73.900665
6,Bronx,2014,7,3.600501e+08,3.080357,8.388393,34.401786,1.0,100.0,88312.241071,35620.0,36.0,5.0,40.826392,-73.901850
7,Bronx,2014,8,3.600501e+08,3.081081,6.667568,27.603604,1.0,100.0,88328.594595,35620.0,36.0,5.0,40.826176,-73.901485
8,Bronx,2014,9,3.600501e+08,3.069565,6.977391,28.643478,1.0,100.0,88327.652174,35620.0,36.0,5.0,40.825635,-73.900916
9,Bronx,2014,10,3.600501e+08,2.917431,5.788991,24.000000,1.0,100.0,88314.376147,35620.0,36.0,5.0,40.826345,-73.900872
10,Bronx,2014,11,3.600501e+08,2.909091,8.275455,33.881818,1.0,100.0,88319.727273,35620.0,36.0,5.0,40.826055,-73.900268
11,Bronx,2014,12,3.600501e+08,2.854545,8.206364,33.681818,1.0,100.0,88319.727273,35620.0,36.0,5.0,40.826340,-73.899737
12,Bronx,2015,1,3.600501e+08,2.936364,11.166364,44.200000,1.0,100.0,88319.727273,35620.0,36.0,5.0,40.825770,-73.900800
13,Bronx,2015,2,3.600501e+08,2.928571,12.530612,48.081633,1.0,100.0,88321.959184,35620.0,36.0,5.0,40.826368,-73.900603
14,Bronx,2015,3,3.600501e+08,2.903509,9.561404,36.859649,1.0,100.0,88319.087719,35620.0,36.0,5.0,40.826330,-73.900133

In [87]:
final = pd.read_csv("sites_borough_datetime.csv")

In [107]:
#final = final.drop(["Date"], axis=1)
final = final.drop(["POC"], axis=1)
final = final.drop(["DAILY_OBS_COUNT"], axis=1)
final = final.drop(["PERCENT_COMPLETE"], axis=1)
final = final.drop(["STATE_CODE"], axis=1)
final = final.drop(["STATE"], axis=1)
final = final.drop(["COUNTY_CODE"], axis=1)
final = final.drop(["COUNTY"], axis=1)
final = final.drop(["Unnamed: 0"], axis=1)
final = final.drop(["CBSA_CODE"], axis=1)
final = final.drop(["CBSA_NAME"], axis=1)

KeyError: "['POC'] not found in axis"

In [108]:
final = final.drop(["CBSA_CODE"], axis=1)
final = final.drop(["CBSA_NAME"], axis=1)
final = final.drop(["AQS_PARAMETER_CODE"], axis=1)

In [119]:
#final = final.drop(["Source"], axis=1)
#final = final.drop(["AQS_PARAMETER_CODE"], axis=1)
#final = final.drop(["AQS_PARAMETER_DESC"], axis=1) 
final = final.drop(["Site ID"], axis=1)

In [121]:
final.columns

Index(['Daily Mean PM2.5 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'SITE_LATITUDE', 'SITE_LONGITUDE', 'Borough', 'year',
       'conv-date', 'month'],
      dtype='object')

In [122]:
final.to_csv("dropped_data.csv")