In [2]:
import pandas as pd
# Data is from the following link
# https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

In [3]:
df = pd.read_csv("NYPD_Complaint_Data_Historic_2012.csv")

C:\Users\aarth\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
ADDR_PCT_CD          float64
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
JURIS_DESC            object
JURISDICTION_CODE    float64
PARKS_NM              object
HADEVELOPT            object
HOUSING_PSA           object
X_COORD_CD            object
Y_COORD_CD            object
SUSP_AGE_GROUP        object
SUSP_RACE             object
SUSP_SEX              object
TRANSIT_DISTRICT     float64
Latitude             float64
Longitude            float64
Lat_Lon               object
PATROL_BORO           object
STATION_NAME          object
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
dtype: object

In [5]:
#Removing complaint from & to dates, from & to columns as they are not required, there 
#is report_date and it will be retained.
df = df.drop(['CMPLNT_FR_DT','CMPLNT_FR_TM','CMPLNT_TO_DT','CMPLNT_TO_TM'],axis=1)

In [6]:
df = df.drop(['LOC_OF_OCCUR_DESC','PREM_TYP_DESC','JURIS_DESC','JURISDICTION_CODE'],axis=1)

In [7]:
df = df.drop(['PARKS_NM','HADEVELOPT','HOUSING_PSA','X_COORD_CD','Y_COORD_CD'],axis=1)

In [8]:
df = df.drop(['SUSP_AGE_GROUP','SUSP_RACE','SUSP_SEX','TRANSIT_DISTRICT',\
             'Lat_Lon','STATION_NAME','VIC_AGE_GROUP','VIC_RACE','VIC_SEX'],axis=1)

In [9]:
df.dtypes

CMPLNT_NUM            int64
ADDR_PCT_CD         float64
RPT_DT               object
KY_CD                 int64
OFNS_DESC            object
PD_CD               float64
PD_DESC              object
CRM_ATPT_CPTD_CD     object
LAW_CAT_CD           object
BORO_NM              object
Latitude            float64
Longitude           float64
PATROL_BORO          object
dtype: object

In [10]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,Latitude,Longitude,PATROL_BORO
0,865552931,10.0,12/27/2012,235,DANGEROUS DRUGS,567.0,"MARIJUANA, POSSESSION 4 & 5",COMPLETED,MISDEMEANOR,MANHATTAN,40.757740,-73.996854,PATROL BORO MAN SOUTH
1,383837261,40.0,10/23/2012,235,DANGEROUS DRUGS,567.0,"MARIJUANA, POSSESSION 4 & 5",COMPLETED,MISDEMEANOR,BRONX,40.812901,-73.920120,PATROL BORO BRONX
2,382714781,77.0,07/07/2012,235,DANGEROUS DRUGS,569.0,"MARIJUANA, SALE 4 & 5",COMPLETED,MISDEMEANOR,BROOKLYN,40.676539,-73.954410,PATROL BORO BKLYN NORTH
3,263969996,52.0,02/17/2012,353,UNAUTHORIZED USE OF A VEHICLE,462.0,UNAUTHORIZED USE VEHICLE 3,COMPLETED,MISDEMEANOR,BRONX,40.882718,-73.881247,PATROL BORO BRONX
4,156042738,108.0,07/12/2012,351,CRIMINAL MISCHIEF & RELATED OF,254.0,"MISCHIEF, CRIMINAL 4, OF MOTOR",COMPLETED,MISDEMEANOR,QUEENS,40.743080,-73.954736,PATROL BORO QUEENS NORTH

In [11]:
df = df.dropna()

In [13]:
df['RPT_DT_TIME'] = pd.to_datetime(df['RPT_DT'])

In [15]:
df['RPT_YEAR'] = df['RPT_DT_TIME'].dt.year

In [19]:
df = df.drop(['RPT_DT_TIME'],axis=1)

In [16]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,Latitude,Longitude,PATROL_BORO,RPT_DT_TIME,RPT_YEAR
0,865552931,10.0,12/27/2012,235,DANGEROUS DRUGS,567.0,"MARIJUANA, POSSESSION 4 & 5",COMPLETED,MISDEMEANOR,MANHATTAN,40.757740,-73.996854,PATROL BORO MAN SOUTH,2012-12-27,2012
1,383837261,40.0,10/23/2012,235,DANGEROUS DRUGS,567.0,"MARIJUANA, POSSESSION 4 & 5",COMPLETED,MISDEMEANOR,BRONX,40.812901,-73.920120,PATROL BORO BRONX,2012-10-23,2012
2,382714781,77.0,07/07/2012,235,DANGEROUS DRUGS,569.0,"MARIJUANA, SALE 4 & 5",COMPLETED,MISDEMEANOR,BROOKLYN,40.676539,-73.954410,PATROL BORO BKLYN NORTH,2012-07-07,2012
3,263969996,52.0,02/17/2012,353,UNAUTHORIZED USE OF A VEHICLE,462.0,UNAUTHORIZED USE VEHICLE 3,COMPLETED,MISDEMEANOR,BRONX,40.882718,-73.881247,PATROL BORO BRONX,2012-02-17,2012
4,156042738,108.0,07/12/2012,351,CRIMINAL MISCHIEF & RELATED OF,254.0,"MISCHIEF, CRIMINAL 4, OF MOTOR",COMPLETED,MISDEMEANOR,QUEENS,40.743080,-73.954736,PATROL BORO QUEENS NORTH,2012-07-12,2012

In [20]:
df.to_csv('./Output/NYPD_Complaint_Data_2012.csv',index=False)