In [1]:
import pandas as pd
# Data is from the following link
# https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

In [2]:
df = pd.read_csv("NYPD_Complaint_Data_Historic_2014.csv")

C:\Users\aarth\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
ADDR_PCT_CD            int64
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
JURIS_DESC            object
JURISDICTION_CODE    float64
PARKS_NM              object
HADEVELOPT            object
HOUSING_PSA           object
X_COORD_CD            object
Y_COORD_CD            object
SUSP_AGE_GROUP        object
SUSP_RACE             object
SUSP_SEX              object
TRANSIT_DISTRICT     float64
Latitude             float64
Longitude            float64
Lat_Lon               object
PATROL_BORO           object
STATION_NAME          object
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
dtype: object

In [4]:
#Removing complaint from & to dates, from & to columns as they are not required, there 
#is report_date and it will be retained.
df = df.drop(['CMPLNT_FR_DT','CMPLNT_FR_TM','CMPLNT_TO_DT','CMPLNT_TO_TM'],axis=1)

In [5]:
df = df.drop(['LOC_OF_OCCUR_DESC','PREM_TYP_DESC','JURIS_DESC','JURISDICTION_CODE'],axis=1)

In [6]:
df = df.drop(['PARKS_NM','HADEVELOPT','HOUSING_PSA','X_COORD_CD','Y_COORD_CD'],axis=1)

In [7]:
df = df.drop(['SUSP_AGE_GROUP','SUSP_RACE','SUSP_SEX','TRANSIT_DISTRICT',\
             'Lat_Lon','STATION_NAME','VIC_AGE_GROUP','VIC_RACE','VIC_SEX'],axis=1)

In [8]:
df.dtypes

CMPLNT_NUM            int64
ADDR_PCT_CD           int64
RPT_DT               object
KY_CD                 int64
OFNS_DESC            object
PD_CD               float64
PD_DESC              object
CRM_ATPT_CPTD_CD     object
LAW_CAT_CD           object
BORO_NM              object
Latitude            float64
Longitude           float64
PATROL_BORO          object
dtype: object

In [9]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,Latitude,Longitude,PATROL_BORO
0,626543116,14,05/13/2014,109,GRAND LARCENY,406.0,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",COMPLETED,FELONY,MANHATTAN,40.747161,-73.985497,PATROL BORO MAN SOUTH
1,886573328,42,03/12/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,BRONX,40.821379,-73.904899,PATROL BORO BRONX
2,508270849,25,05/30/2014,104,RAPE,157.0,RAPE 1,COMPLETED,FELONY,MANHATTAN,40.800694,-73.941109,PATROL BORO MAN NORTH
3,531125450,49,04/17/2014,351,CRIMINAL MISCHIEF & RELATED OF,259.0,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",COMPLETED,MISDEMEANOR,BRONX,40.844877,-73.864064,PATROL BORO BRONX
4,869978173,48,06/24/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,BRONX,40.840185,-73.880055,PATROL BORO BRONX

In [10]:
df = df.dropna()

In [11]:
df['RPT_DT_TIME'] = pd.to_datetime(df['RPT_DT'])

In [12]:
df['RPT_YEAR'] = df['RPT_DT_TIME'].dt.year

In [13]:
df = df.drop(['RPT_DT_TIME'],axis=1)

In [14]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,Latitude,Longitude,PATROL_BORO,RPT_YEAR
0,626543116,14,05/13/2014,109,GRAND LARCENY,406.0,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",COMPLETED,FELONY,MANHATTAN,40.747161,-73.985497,PATROL BORO MAN SOUTH,2014
1,886573328,42,03/12/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,BRONX,40.821379,-73.904899,PATROL BORO BRONX,2014
2,508270849,25,05/30/2014,104,RAPE,157.0,RAPE 1,COMPLETED,FELONY,MANHATTAN,40.800694,-73.941109,PATROL BORO MAN NORTH,2014
3,531125450,49,04/17/2014,351,CRIMINAL MISCHIEF & RELATED OF,259.0,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",COMPLETED,MISDEMEANOR,BRONX,40.844877,-73.864064,PATROL BORO BRONX,2014
4,869978173,48,06/24/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,BRONX,40.840185,-73.880055,PATROL BORO BRONX,2014

In [15]:
df.to_csv('./Output/NYPD_Complaint_Data_2014.csv',index=False)